* {
    line-height: 2;
    font-size: 18px;
    line-height: 2;
    font-weight: 400;
}

body {
    max-width: 80em;
    min-width: 240px;
    margin: auto;
    padding: 0;
    background-color: black;
    position: relative;
    background: url(https://i.pinimg.com/originals/67/26/25/672625e65928894c85db901e91782d92.jpg);
    background-repeat: repeat;
    background-size: 320px;
    width: 100%;
    animation: animate 60s linear infinite;
}

@keyframes animate {
    from {
        background-position-x: 0;
        background-position-y: 0;
    }
    to {
        background-position-x: 100%;
        background-position-y: 45%;
    }
}

.page {
    position: relative;
    background: linear-gradient(180deg, black, #444, black);
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
    margin: 0;
    padding: 0;
    width: 100%;
    margin: auto;
    border: 3px solid #111;
    min-width: 300px;
    box-shadow: 18px 13px 31px 1px rgba(140, 140, 140, 0.75);
    border-radius: 10px;
}

.logo {
    opacity: 1;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    padding: 20px 0 20px 0;
    width: 15%;
    min-width: 50px;
    animation: fade-in 16s infinite ease-in-out alternate;
    animation-delay: -1s;
    z-index: -10;
    border-radius: 100%;
}

@keyframes fade-in {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    50% {
        opacity: 1;
        transform: scale(1);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.nav {
    color: #EEE;
    text-align: right;
    height: 50px;
    line-height: 50px;
    font-weight: 800;
    position: sticky;
    top: 0;
    background: linear-gradient(45deg, rgba(255, 255, 255, 0.05), rgba(90, 30, 30, 1), rgba(55, 55, 55, 1));
    z-index: 3;
}

.menu ul {
    margin: 0 50px 0 30px;
}

.menu li {
    display: inline-block;
    list-style: none;
    text-decoration: none;
    color: #ccc;
    margin: 0px;
    padding: 5px;
}

.menu li:hover {
    display: inline-block;
    background-color: #222;
    color: #555;
    transition-property: all;
    transition-duration: 0.5s;
}

li div {
    display: none;
    transition: 0.5s;
    text-align: center;
}

li:hover>div {
    position: block;
    clear: both;
    padding: 0 10px;
    display: inline-block;
    padding-left: 3px;
    font-size: 10px;
    transition: 0.5s;
    color: rgba(90, 30, 30, 1);
    text-align: center;
}

.homebutton {
    color: rgb(250, 100, 100);
    letter-spacing: 3px;
    padding-left: 20px;
    padding-right: 20px;
    font-weight: bold;
}

.homebutton:hover {
    display: block;
    color: #DDD;
    background-color: rgba(90, 30, 30, 1);
    padding-left: 20px;
    padding-right: 20px;
}

label {
    margin: 0 4px 0 0;
    font-size: 26px;
    line-height: 50px;
    display: none;
    width: 26px;
    float: right;
}

#toggle {
    display: none;
}

audio {
    display: none;
}

li a {
    color: white;
}

a {
    color: white;
    text-decoration: none;
}

li {
    list-style-image: url(/guiticon.png);
}

.firstpic {
    width: 100%;
    padding: 0;
}

h3 {
    background: linear-gradient(45deg, rgba(55, 55, 55, 1), rgba(80, 15, 15, 0.5), rgba(55, 55, 55, 1));
    color: white;
    padding: 5px;
}

h3:hover {
    background-color: #333;
    color: #eee;
    padding: 5px;
    text-shadow: 3px 2px rgba(90, 30, 30, 1)q;
}

h3::first-letter {
    font-weight: 900;
    font-size: 20px;
}

img.galeria {
    display: flex;
    justify-content: space-evenly;
    position: relative;
    box-sizing: border-box;
    max-width: 1440px;
    min-width: 295px;
    margin: auto;
    margin-top: 10px;
    width: 80%;
    flex-wrap: wrap;
    z-index: 1;
    border-radius: 10px;
}

.videos {
    display: inline-block;
    margin-bottom: 20px;
    margin-top: 15px;
}

.videos iframe {
    margin-left: 2%;
}

pre {
    display: flex;
    text-overflow: clip;
}

p {
    margin: 4px;
}

footer {
    background-color: #333;
    position: relative;
    display: block;
    padding: 3px 0;
    margin-bottom: 15px;
    width: 95%;
    margin: auto;
}

footer a {
    position: relative;
    margin: auto;
    font-size: 18px;
    padding: 5px;
    border: 1px solid gray;
    background: linear-gradient(180deg, gray, black);
    color: white;
    border-radius: 5%;
    text-decoration: none;
}

footer a:hover {
    position: relative;
    margin: auto;
    font-size: 18px;
    padding: 5px;
    border: 1px solid gray;
    background: linear-gradient(360deg, gray, black);
    color: white;
    border-radius: 5%;
    text-decoration: none;
}

@media only screen and (max-width: 1440px) {
    .page {
        opacity: 0.96;
    }
}

@media only screen and (max-width: 520px) {
    .page {
        border-radius: 0;
    }
    li:hover div {
        position: relative;
        clear: both;
        padding: 0 10px;
        display: block;
        padding-left: 3px;
        font-size: 10px;
        transition: 0.5s;
    }
    label {
        display: block;
        cursor: pointer;
        transition: ease;
    }
    .menu {
        text-align: center;
        width: 100%;
        display: none;
        transition: ease;
        top: 0;
        z-index: 5;
    }
    label {
        display: flex;
        color: white;
        padding: 0 15px 0 15px;
    }
    .menu li {
        display: block;
        border-bottom: 2px solid black;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
        color: white;
        font-size: 14px;
        line-height: 1.5;
        padding: 12px;
        font-weight: 600;
        text-transform: uppercase;
    }
    .menu li:hover {
        display: block;
        border-bottom: 1px solid #333;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.8);
        color: white;
        font-size: 14px;
        line-height: 1.5;
        padding: 12px;
        font-weight: 600;
    }
    #toggle:checked+.menu {
        display: block;
    }
    .homebutton {
        color: rgb(250, 100, 100);
    }
    .logo {
        position: absolute;
        display: inline-block;
        flex: initial;
        z-index: 5;
        width: 50px;
        min-width: 25px;
        left: 2%;
        top: 8px;
        box-sizing: border-box;
        padding: 0;
        border-radius: 50%;
    }
    footer {
        background-color: #333;
        position: relative;
        display: block;
        padding: 30px 0;
    }
    footer a {
        position: absolute;
        display: inline-block;
        box-sizing: content-box;
        font-size: 20px;
        align-items: center;
        vertical-align: middle;
        left: 35%;
        bottom: 3px;
        font-weight: 800;
        padding: 0 0 10px;
    }
    body {
        opacity: 0.95;
    }
}